@use "@styles/__theme";

.log-in {
  background-color: _theme.$third-bg-color;
  padding: 3rem;
  border-radius: 16px;
  min-height: 35rem;
  @include _theme.flex(row, center, center);

  &__form {
    @include _theme.flex(column);
    gap: 1.5rem;
    width: 100%;
    max-width: 550px;    
  }
}
