@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Font Family*/
$font-family-inter: "Inter", sans-serif;

/* Principal Colors */
$primary-bg-color: #ffffff !default;
$secondary-bg-color: #222222 !default;
$third-bg-color: #d9d9d9 !default;

@mixin flex($direction, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/*Laptop Size*/
@media (max-width: 70em) {
  html {
    font-size: 72%;
  }
}

