@use "@styles/__theme";

.text-field {
  @include _theme.flex(column, center);
  &__label {
    font-weight: 600;
  }

  > input {
    font-family: "Inter", sans-serif;
    border: 1px solid _theme.$secondary-bg-color;
  }

  > textarea {
    border: 1px solid _theme.$secondary-bg-color;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    max-height: min-content;
  }

  > input[type="search"]::-webkit-search-cancel-button {
    filter: invert(50%);
    background-color: _theme.$primary-bg-color;
  }
}

.input {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  &-primary {
    @extend .input;
    background-color: _theme.$primary-bg-color;
    color: _theme.$secondary-bg-color;
  }
  &-secondary {
    @extend .input;
    background-color: _theme.$third-bg-color;
    color: _theme.$secondary-bg-color;
  }
}
