@use "@styles/theme";

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 0 5rem;
  gap: 1rem;
  justify-content: center;
}

.advise {
  @include theme.flex(null, center, center);
  flex-wrap: wrap;
  gap: 5rem;
  background-color: theme.$third-bg-color;
  padding: 2.5rem;
  border-radius: 1rem;

  &__heading {
    > h2 {
      margin-top: 1rem;
    }
  }
}

.lead-in {
  &__main {
    background-color: theme.$third-bg-color;
    padding: 1rem;
    gap: 2.5rem;
    @include theme.flex(null, center, center);
    flex-wrap: wrap;
    min-height: 24rem;
    border-radius: 1rem;
    & img {
      max-width: 18rem;
    }
  }
  &__sub-main {
    @include theme.flex(column);
    margin: 0 5rem;
    gap: 1rem;
    > :nth-child(2) {
      align-self: flex-end;
    }
  }
}
