@use "@styles/theme";

.button {
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
  transition: all 0.2s ease;
  font-size: 1rem;
  cursor: pointer;

  &-primary {
    @extend .button;
    background-color: theme.$secondary-bg-color;
    color: theme.$primary-bg-color;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  &-secondary {
    @extend .button;
    background-color: theme.$primary-bg-color;
    color: theme.$secondary-bg-color;

    &:hover,
    &:active {
      background-color: theme.$secondary-bg-color;
      color: theme.$primary-bg-color;
    }
  }
  &-outline {
    @extend .button;
    background-color: theme.$primary-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.327);

    &:hover,
    &:active {
      background-color: theme.$third-bg-color;      
    }
  }
}

.size {
  &-small {
    padding: 0.5rem 1rem;
  }
  &-medium {
    padding: 1rem 1.5rem;
  }
  &-large {
    padding: 1.25rem 5rem;
  }
}
