@use "@styles/__theme";

.lead-in {
  @include _theme.flex(null, null, center);
  flex-wrap: wrap;
  gap: 2.5rem;
  &__icon {
    background-color: _theme.$secondary-bg-color;
    padding: 1.5rem;
    border-radius: 50%;
  }
  &__heading {
    margin-top: 1.5rem;
    max-width: 37rem;
  }
  &__paragraph {
    max-width: 45rem;
  }
}
