@use "@styles/__theme";

.footer {
  @include _theme.flex(null, space-between);
  background-color: _theme.$primary-bg-color;
  padding: 3rem 5rem;
  gap: 2.5rem;

  &__brand-info {
    @include _theme.flex(column, space-around);
  }

  &__list-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.brand-info {
  &__social-icons {
    display: flex;
    opacity: 0.5;
    gap: 1rem;    
  }
}
