@use "@styles/__theme";

.sign-up {
  @include _theme.flex(null, center, center);
  @include _theme.styled-border;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 5rem;
  min-height: 37rem;

  &__form {
    @include _theme.flex(column);
    gap: 1.5rem;
    width: 100%;
    max-width: 45rem;
    margin-top: 3rem;
  }
}

.fieldset__first-elements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  > * {
    flex: 1;
  }
}
