@use "@styles/__theme";

.card {  
  box-shadow: 1px 15px 18px -10px _theme.$secondary-bg-color;
  padding: 1.5rem;
  border-radius: 1.5rem;  

  &__image {
    background-color: _theme.$third-bg-color;
    border-radius: 2rem;
    width: 100%;
  }

  &__title {
    margin: 1rem 0;
  }

  &__body {
    opacity: 0.7;
    line-height: 1.2;
  }
}
